
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="carousel-inner col-md-9">
    <div class="item">

        <a class="BannerText" href="/yeni-urunler/" data-w="1345" data-h="778" data-x="24" data-y="11" data-z="995" data-font-color="#3865a8" data-font-size="10" data-font-style="Normal" data-font-weight="Normal" style="background-image: url(&quot;/Images/blank.png&quot;); width: 1345px; height: 778px; margin-top: 11px; margin-left: 24px; z-index: 995; color: rgb(56, 101, 168); font-size: 10px; font-style: normal; font-weight: normal;"></a>

        <img src="https://cdn.sorsware.com/addax/ContentImages/Banner/sld1.jpg" class="CarouselImg" alt="Tiklayiniz" data-ow="1530" data-oh="534">
    </div>
    <div class="item active">

        <a class="BannerText" href="/super-fiyat/" data-w="1357" data-h="774" data-x="7" data-y="13" data-z="995" data-font-color="#3865a8" data-font-size="10" data-font-style="Normal" data-font-weight="Normal" style="background-image: url(&quot;/Images/blank.png&quot;); width: 1357px; height: 774px; margin-top: 13px; margin-left: 7px; z-index: 995; color: rgb(56, 101, 168); font-size: 10px; font-style: normal; font-weight: normal;"></a>

        <img src="https://cdn.sorsware.com/addax/ContentImages/Banner/sld2.jpg" class="CarouselImg" alt="Tiklayiniz" data-ow="1530" data-oh="534">
    </div><br /><hr /><br />
</div>


<h2 class="title text-center">KURUMSAL / HAKKIMIZDA</h2>

<p>

    <h3 class="title text-left">Hakkımızda</h3>

    www.madstore.com.tr üyelerine özel fiyatlar sunarak, ayrıcalıklı alışveriş deneyimini yaşatan özel bir alışveriş sitesidir. Kurulduğu günden itibaren müşteri memnuniyetini ön plana taşıyarak, müşteri istekleri doğrultusunda kendini yenilemeye devam etmektedir. Vade farksız 6 taksit imkânı, ücretsiz kargo kampanyaları ve en önemlisi HIZLI KARGO avantajıyla en iyi müşteri deneyimini yaşatmayı hizmet anlayışının merkezine koyan MadStore, yaratıcılığı zarafetle buluşturmuş ürünler üreterek bayanların zarafet simgesi olmayı kendisine ilke edinmektedir.
</p>

<p>

    <h3 class="title text-left">Güvenli Alışveriş</h3>

    madstore.com.tr veri iletiminde 256 bit şifreleme ile iletilen bilgilerin güvenliğini sağlayan SSL sertifikası kullanmaktadır. madstore.com.tr’de kredi kartı bilgileriniz yalnızca sipariş işlemi gerçekleştirilirken kullanılır ve veri tabanında kayıtlı olarak tutulmaz, kesinlikle üçüncü kişiler tarafından görülmez.
</p>

<p>

    <h3 class="title text-left">Kalite ve Orjinallik Garantisi</h3>
    Satılan her ürün madstore.com.tr’nin güvencesi altındadır. Ürünlerin orjinalliği ve kalitesi, ürünlerin seçim aşamasında madstore’ın özel bir birimiyle, depoda paketleme aşamasında ise kalite kontrolü yapan özel operasyon hattı ile iki defa test edilmektedir.
</p>

<p>

    <h3 class="title text-left">En İyi Müşteri Deneyimi</h3>

    En iyi müşteri deneyimini yaşatmayı hizmet anlayışının merkezine koyan madstore.com.tr müşteri hizmetleri ekibi ve üyeleri ile birebir iletişim kurduğu Facebook, Instagram kanalları aracılığı ile sürekli ulaşılabilir durumdadır. madstore.com.tr’den almış olduğunuz bir ürünü herhangi bir sebeple iade etmek isterseniz, 14 gün içinde kolayca ve ücretsiz olarak geri gönderebilirsiniz.
</p>
<br />

